In [3]:
#WHEN TO USE WHILE LOOP AND FOR LOOP
print("""The for loop is used when we already know the number of iterations,
which means when we know how many times a statement has to be executed.
That is why we have to specify the ending point in the for loop initialization.
When we need to end the loop on a condition other than the number of times, we use a while loop.""")

The for loop is used when we already know the number of iterations,
which means when we know how many times a statement has to be executed.
That is why we have to specify the ending point in the for loop initialization.
When we need to end the loop on a condition other than the number of times, we use a while loop.

In [13]:
#example of for loop
l=list(range(10))

for i in l:
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [15]:
#example of while loop

In [14]:
i=1
n=int(input("enter the number for table"))
result=n*i
while i<=10:
    print(n,"*",i,"=", result)
    i=i+1

enter the number for table 10

10 * 1 = 10
10 * 2 = 10
10 * 3 = 10
10 * 4 = 10
10 * 5 = 10
10 * 6 = 10
10 * 7 = 10
10 * 8 = 10
10 * 9 = 10
10 * 10 = 10

In [4]:
#summing up with for loop

In [21]:
l=list(range(11))
result=0

for i in l:
    result=result+i
result

55

In [5]:
#summing up with while loop

In [3]:
n=10
counter=1
starting_point=0
while counter<=n:
    starting_point=starting_point+counter
    counter=counter+1
starting_point

55

In [14]:
#product of first 10 natural numbers with while loop

In [5]:
number=10
product=1
while number > 0:
    product=product*number 
    number =number -1
product

3628800

In [15]:
#product of first 10 natural numbers with for loop

In [1]:
l=list(range(1,11))
length=len(l)
product=1
for i in l:
    product=product*length
    length=length-1
print(product)

3628800

In [7]:
def electricity_bill(units):
    bill=0
    if units<=100:
        bill=units*4.5
    elif units<=200:
        bill=100*4.5 + 100*6
    elif units<=300:
        bill=100*4.5 + 100 * 6 +100*10
    elif units >300:
        bill=100*4.5+ 100 * 6 + 100 * 10 + (units-300)*20
    return bill
units=int(input("ENTER THE NUMBER OF UNITS CONSUMED IN A MONTH : "))
bill=electricity_bill(units)
print("YOUR TOTAL ELECTRICITY BILL IS RS.",bill)

ENTER THE NUMBER OF UNITS CONSUMED IN A MONTH :  310

YOUR TOTAL ELECTRICITY BILL IS RS. 2250.0

In [18]:
#numbers whose cube are divisible by 4 or 5 using for loop
l=list(range(1,101))
l1=[]
for i in l:
    if i**3 % 4 ==0 or i**3 % 5==0:
       
        l1.append(i)

l1

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [19]:
#numbers whose cube are divisible by 4 or 5 using while loop
i=1
numbers=[]
while i<=100 :
    if i**3 % 4 ==0 or i**3 % 5 ==0:
         numbers.append(i)
    i+=1
numbers

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [20]:
#counting vowels in a string

In [21]:
string = "I want to become a data scientist"
vowels="aeiouAEIOU"
count=0
for i in string:
    if i in vowels:
        count+=1
print("NUMBER OF VOWELS IN STRING IS",count)

NUMBER OF VOWELS IN STRING IS 12